profile default
{
  information-only;

  request domain-name-servers;
  request domain-name;

  script "/etc/wide-dhcpv6/dhcp6c-script";
};

interface {{ ansible_default_ipv6.interface }} {
  send ia-pd 0;
  request domain-name-servers;
  request domain-name;

  script "/etc/wide-dhcpv6/dhcp6c-script";
};

id-assoc pd {
{% for iface in ansible_interfaces|reject("equalto", "lo")|reject("equalto", ansible_default_ipv6.interface)|sort %}
  prefix-interface {{ iface }} {
    sla-id {{ loop.index0 }};
    sla-len 4;
  };

{% endfor %}
};
