{% for iface in ansible_interfaces|reject("equalto", "lo")|reject("equalto", "ppp0")|sort %}
interface {{ iface }}
{
        AdvSendAdvert on;
        AdvHomeAgentFlag off;
        AdvLinkMTU 1492;
        MinDelayBetweenRAs 3;

        prefix ::/64 {
                AdvOnLink on;
                AdvAutonomous on;
                DeprecatePrefix on;
        };

        RDNSS 2a02:200:1:11::100 2a02:200:1:12::100
        {
                AdvRDNSSPreference 8;
        };
};
{% endfor %}
