{% for iface in ansible_interfaces|reject("equalto", "lo")|reject("equalto", "ppp0")|sort %}
interface {{ iface }}
{
        AdvSendAdvert on;
        AdvHomeAgentFlag off;
        AdvLinkMTU 1492;
        MinDelayBetweenRAs 3;

        prefix ::/64 {
                AdvOnLink on;
                AdvAutonomous on;
                DeprecatePrefix on;
        };

        RDNSS 2a02:200:2e00:5480:224:81ff:fe95:53c2 2a02:200:2e00:5480:201:20ff:fe23:2
        {
                AdvRDNSSPreference 8;
        };
};
{% endfor %}
